
<div class="row">
  <h1 class="center-align"><%= @month %> Request Log</h1>
  <br>
  <div class="col s2">
    <label>Check previous request log</label>
    <select>
      <option value="" disabled selected></option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
  </div>
  <table class="striped centered">
    <thead>
      <tr>
        <th>Artist</th>
        <th>Song</th>
        <th>Genre</th>
        <th>Request Source</th>
        <th>In Library?</th>
        <th>Requested On</th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td> <%= (Artist.find_by id: request.artist_id).name %> </td>
          <td> <%= (Song.find_by id: request.song_id).title %> </td>
          <td> <%= (Genre.find_by id: request.genre_id).title %> </td>
          <td> <%= (Source.find_by id: request.source_id).name %> </td>
          <td> <%= request.in_system? %> </td>
          <td> <%= request.created_at.ctime %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>