<h1>Input new request!</h1>
<%= form_for :requests, url: requests_path do |f| %>
    <%= label_tag(:artist, "Artist:")%>
        <%= f.text_field :artist%>
    <%= label_tag(:song, "Song:")%>
        <%= f.text_field :song%>
    <%= label_tag(:genre, "Genre:")%>
        <%= f.text_field :genre%>
    <%= label_tag(:source, "Source:")%>
        <%= f.text_field :source%> 
    <%= label_tag(:in_library?, "In Library?:")%>
        <%= f.select(:in_library?, %w[true false])%>
    <%= f.submit %>                           
<% end %>