<div class="row">
    <h1 class='center-align'>Input new request!</h1>
    <%= form_for :requests, url: requests_path do |f| %>
    <div class="row">
        <div class="input-field col s4 push-s2">
            <%= f.text_field :artist, placeholder: 'Artist'%>
        </div>
        <div class="input-field col s4 push-s2">
            <%= f.text_field(:song, placeholder: 'Song')%>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s4 push-s2">
            <%= f.text_field :genre, placeholder: 'Genre'%>
        </div>
        <div class="input-field col s4 push-s2">
            <%= f.text_field :source, placeholder: 'Source'%> 
        </div>
    </div>
    <div class="row">
        <h4 class='center-align'>Was it in the library?</h4>
    </div>
    <div class="row">
        <div class="input-field col s4 push-s4">     
            <%= f.select(:in_library?, %w[true false])%>        
        </div>
    </div>
    <div class ='row'>
        <div class="input-field col s4 push-s4">
            <%= f.submit 'Save Request', :class => 'waves-effect waves-light btn-large center col s12' %> 
        </div>
    </div>                         
    <% end %>
</div>